html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: rgb(55,71,79);
  top: 0px;
  left: 0px;
}

.nav {
  list-style-type: none;
  background-color: rgb(55,71,79);
  margin: 0;
  padding: 20px 0;
  //left: 500px;
  float: right;
  position: relative;
}

.nav li {
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-right: 25px;
  text-transform: uppercase;
}

li:hover {
  color: rgb(159,197,232);
}

.cover {
  background: url(http://s3.amazonaws.com/codecademy-content/projects/broadway/bg.png) no-repeat center center;
  background-size: cover;
  height: 800px;
}

.main {
  position: relative;
  top: 50px;
  text-align: center;
}

//rgb(159,197,232)
h1 {
  color: SteelBlue;
  font-family: 'Syncopate', sans-serif;
}

.main h1 {
  color: SteelBlue;
  font-family: 'Syncopate', sans-serif;
  font-size: 70px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
}
